<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/glyphicons/styles/glyphicons.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Header", false)
    <title>@ViewData["Title"] - NetCoreSample</title>
    
</head>
<body>
    <!-- Reference https://bootstrapious.com/p/bootstrap-sidebar -->
    <div class="wrapper">
        @{
            @await Component.InvokeAsync("SideBar", Context)
        }
        <!-- Page Content Holder -->
        <div id="content" class="container body-content">
            <!-- NavBar -->
            @await Component.InvokeAsync("NavBar", Context)

            <br>
            <div id="_ErrorFlashMessage">
                @Html.Partial("../Partial/_ErrorFlashMessage.cshtml")
            </div>

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2017 - NetCoreSample</p>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery.serializeJSON/jquery.serializejson.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script src="~/lib/highlightjs-line-numbers.js/src/highlightjs-line-numbers.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/tool.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
